{% extends 'base.html' %}
{% block link %}
    {% include "partial/link_header.html" %}
{% endblock %}
{% block content %}
    <h2 style="font-size: 35px; margin-top: 20px">Задача: {{ task.summary }}</h2>
    <p style="font-size: 22px;">Описание: {{ task.description }}</p>
    <p style="font-size: 22px;">Статус: {{ task.status }}</p>
    <p style="font-size: 22px;">Types:
        {% for type in task.types.all %}
            {{ type.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'webapp:task_update' task.pk %}" style="font-size: 22px; text-decoration: none">Редактировать</a>
    <a href="{% url 'webapp:task_delete' task.pk %}" style="font-size: 22px; text-decoration: none; margin-left: 20px; margin-right: 20px">Удалить</a>
    <a href="{% url 'webapp:task_list' %}" style="font-size: 22px; text-decoration: none">Вернуться</a>
{% endblock %}